$clr_main: #fae800;
$clr_main_light: #ffee77;
$clr_accent: #FAE800;
$clr_accent_light: #fcfcf4;
$clr_base: #004DA4;
$clr_base_light: #f8f4fc;
$clr_baseDark: #024690;
$clr_baseWhite: #fff;
$clr_gray: #f4f4f4;